body {font-family: Arial, Helvetica, sans-serif;}
form {
	background-color: #f1f1f1;
	border-radius: 10px;
    width: auto;
    height: auto;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

a {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  background-color: #5e5ebf;
  color: white;
  border-radius: 10px;
  text-align: center;
}

a:hover {
  opacity: 0.8;
}

button{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  background-color: #5e5ebf;
  color: white;
  border-radius: 10px;
  text-align: center;
}
button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
h2{
	font-size: 25px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}