table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;  
}

tr:nth-child(even) {
  background-color: #ddd;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5e5ebf;
  color: white;
}